.f{
	color:#FFFFFF
}
.fir{
	color:#000000;
}
.h{
	color: #F3A408;
}
#titulo{
	font-family: Franklin Gothic Medium;
	background-color:#1D2483;
	color:white;
}

#texto{
	text-align: center;
}
body{
	background-color:#1446B0;
}
.row{
	background-color:#1446B0;
}

.jumbotron{
	background-color:#1D2483;
	color: white;
	font-family: Impact;
}

.post-content{
	max-width:90%;
}
.post-content img{
	max-width:100% ;
}

#espaco{
	padding:50px;
	padding: 13%;
}

#espaco1{
	padding: 16%;
}

#imagem{
	padding: 2%;
	background-color:#0012A6;
}

#post-content{
	max-width:40%;
}
#post-content img{
	max-width:40% ;
}
#rodape{
	text-align: center;
}
